@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@700&display=swap');

html {
 background-color: #295ba7;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 