.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: fixed;
    z-index: 20;
}

ul{
    list-style: none;
    padding: 0 3em;
}
.menu{
    display: flex;
    justify-content: center;
    gap:3em;
}

.menuItem a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.274);
    cursor: pointer;
}

.menuItem :hover{
   color: #FFB700;
   font-weight: bold;
  
}
 




.mobileMenu{
    display: none;
}

.menuItem .icon{
    text-decoration: none;
    border: 2px solid #FFB700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    border-radius: 5px;
    font-weight: bold;
}

.active{
    background-color: #FFB700;
}

.logo img{
    width: 40px;
    height: 40px;
}

.logo{
    padding: 1.2em;
}

@media screen and (max-width:900px) {
   
    .mobileMenu{
        display: flex;
        gap: 1em;
    }

    .deskMenu{
        display: none;
    }
}


 