.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em 15em;
}

 
.title{
    font-size: 2em; 
    font-weight: 800;
    line-height: 30px;
    color: #ffb700;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.274);
    text-transform: uppercase;
}

.content{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin:4em auto;
    gap: 10px;
}

.card{
        width: 100%;
        max-width: 300px;
        margin: 0em auto;
        background-color:#12346788;
        border-radius: 15px;
        margin-bottom: 1em;
        padding: 1em;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        color: white;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.description{
    color: #6881a7;
    font-size: 0.8em;
}

.tags{
    display: flex;
    justify-content: left;
    gap: 5px;
    color: #ffb700;
    margin-bottom: 1.5em;
}

.tags span{
    font-size: 0.7em;
    padding: 5px 10px;
    border: 1px solid #ffb700;
    border-radius: 20px;
}

.action{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.action a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color:#295BA7;
    padding: 5px 10px;

}

 
  